<script>

/*es6-string-html */
let app = Vue.createApp({
    data(){
        return{
            personas:[
                    {nombre:"juan",apellido:"martinez"},
                    {nombre:"marta",apellido:"lopez"},
            ]

        }
    },
    template:/*html*/` <div>
            <p v-for="persona in personas">{{persona.nombre}} {{persona.apellido}}</p>
        </div>` 
});
app.mount("app");
</script>