    @font-face
    {
        font-family:Poppins;
        src: url("ej003UsoDeFuentes/Poppins-Light.ttf");
    }
    @font-face
    {
        font-family:Albatros;
        src: url("ej003UsoDeFuentes/adobeClean.woff2");
    }
    @font-face
    {
        font-family:Alcubierre;
        src: url("ej003UsoDeFuentes/Alcubierre.otf");
    }
    h1
    {
        font-family:Poppins, Georgia, Times, 'Times New Roman', serif;
        font-size: 60px;

        }
    h2
    {
        font-family: Albatros, Georgia, Times, 'Times New Roman', serif;
        font-size: 50px;
    }
    .parrafos
    {   font-family: Albatros2, Georgia, Times, 'Times New Roman', serif;
        font-size:20px;
        padding:5px;
    }

