//26/05/2022


//SEO PALABRAS CLAVE : gogole ads -> keyword generation tool -> https://keywordsheeter.com/ se 

//  JAVASCRIPT

    - es un lenguaje que permite al navegador ajustar la web en TIEMPO REAL. (modifica el html y css)

    - puede realiar calculos complejos, inyecta html y css en tiempo real, se ejecuta en el navegador, 
    - el problema que tiene es que el javascript es visible para cualquiera.

    - es opensource, funciona en win,linux, mac, unix android etc.
    -solo enesita navegador y bloc de notas minimo.

    - INSERTAR bloque de codigo en HTML. 

    <script></script>

    - se puede insertar el script en cualquier punto del código, el script se ejecutará al LEER ESA LINEA.

    - si se pone despues del contenido html, 

    - es habitual colocar el javascript al FINAL DE <body>

    - tambien suele colocarse dentro de <head> si se quiere qe el scriot se eejcute ANTES DE CARGAR EL CONTENIO HTML.

// FUNCIONES

    - las funciones permiten ejecutar TAREAS.

        ALERT();
        CambiarColor();
    
    - se puede crear funciones PROPIAS  o usar directamente las que ofrece javascript.
    - llamar una funcion -> ejecuta tarea.

    - El ; es OPCIONAL, pero es PREFERIBLE COLOCARLO SIEMPRE.

// STRING

    - es una secuencia de caracteres, puede ser cualquier texto, hay que escribirlo entre comillas. Puede usar  
        COMILLAS SECNCILLAS O DOBLES.

        "hola"  '_' 'a' "me encanta javascript"

    - se puede usar el CARACTER COMILLAS, dentro  del STRING, y se puede usar COMILLAS SIMPLES para definir el string y dobles dentro del
        contenido o introducir el caracter con \"

        'usar "comillas" en un string';
        "usar \"comillas\" en un string";

    - SE RECOMIENDA INDENTAR el codigo:

        <script>
            alert ("Hola!");
        </script>

    - Se recomienda trabajas con archivo externo a efectos de legibilidad del codigo.

        <script src="codigo.js"></script>

//VARIABLES JAVASCRIPT

    - las variables son "contendeores" que permiten almacenar informacion.
    - una variable suelte tener un nombre que describe su contenido(edad, nombre,volumenTotal)
        o un nombre corto (x,y...).

// REGLAS -VARIABLES JAVASCRIPT.

    - Los nombre de las variables SON SENSIBES AL USO DE MAYUS/MINUSC (edad y EDAD son 2 var diferentes).

    - Los nombres de las variables pueden contener caracterers alfanumericos, numeros y la barra baja (coche, PERRO,menu1,menu_izqGrande).

    - el nombres de varibales pueden contener numeros pero NO PUEDE EMEPEZAR POR UN NUMERO.

    - En javascript se usa camelCase para los nombres de variables y funciones compuestos
        textoInicial, miGato, generarNumAleatorio()
    
    - para CREAR UNA VARIABLE se usa VAR, para asignar contenido a una variable se usa el signo =. 

        <script>
            var texto;  -> 
            texto="Texto de prueba";
            alert(textxo);
        </script>

// COMENTARIO EN js

    - Se inserta comentarios de una linea con //
    - para comentar varias lineas se hace con: /*      */

// CONCATENACION DE TEXTO.

    - Se puede usar el etxto con el signo +

        <script>
            var texto;  -> 
            texto="Texto de prueba";
            alert(textxo);
        </script>

    - el signo += permite AÑADIR TEXTO AL FINAL DE UNA VARIABLE

    <script>
        texto = "texto" +"de ";  
        texto +="prueba";
        alert(texto);
    </script>

// VARIABLES JAVASCRIPT

    en javascript, las variables pueden almacenar CUALQUIER CONTENIDO.

    <script>
        var num;
        num = 5; // para especificar numeros NO SE USA comillas;
        alert (num);;
    </script>

    <script>
        var num=5; // se puede declar y definir el valor en una sola sentencia.
        alert (num);
    </script>

    - se puede COMPACTAR la declaracion de variables.

    <script>
        var suma, n1=5, n2=3; // se puede declarar multiples variables un una sola sentencia
        suma = n1 +n2; // ejecucion de operaciones matematicas.
        alert(suma);
    </script>

// CONSOLA JAVASCRIPT

    - la consola del navegador permite intreaccion directa con javascript.
    - cada navegador usa su propia versión.
    - se puede ejecutar los comandos DIRECTAMENET SOBRE LA CONSOLA javascript.
    - se puede enviar LOS ELEMENTOS DEL CODIGO A LA CONSOLA usando colole.lorg()
    - y para limpiarla se Utiliza console.clear();
    
    - Si se quiere MOSTRAR VARIAS LINEAS de texto, se puede llamar a CONSOLE.LOG() varias veces
        o FORZAR EL SALTO DE LINEA con el caracter \n

// OPERADORES ARITMETICOS 

    - + , - , *, / y % (modulo).

// OPERADORES DE ASIGNACION

    - se usan para ESCRIBIR VALORES NUMERICOS en una variable.

        x = y 
        x += y  -> x=x+y 
        x-= y -> x=x-y
        x*= y -> x= x*y 
        x/= y -> x= x/y 
        x%=y -> x= x%y 

// INCREMENTO /DECREMNENTO

    ++x pre-incremento -> incrementa x enuno y retorna x.
    x++ post-incremento -> retorna X e incrementa x en uno.
    --x pres-decrementao -> decrementa x en uno y retorna x.
    x-- POST-DECREMENTO -> retorna x y decrementa x en uno.

// PEDIR DATOS POR PROMPT

    - la funcion prompt(), permite OBTENER  INFORMACION del ususario.

    var datos;
    datos = prompt("introduce el valor" (mensaje que muestra al pedir los datos),7 (valor por defecto opcional) ); 
    console.log(datos); 

// OPERADOR TYPEOF (TIPO DE DATOS)

    - typeof nombrevariable; devuelve un string con el tipo de datos (para tipos de datos primitivos).

    var numero=250;
    var string="250";
    console.log(typeof numero); -> devuelve "number"
    console.log(typeof string); -> devuelve "string"

// CONVERTIR STRING A INT

    parseInt();

    - permite CONVERTIR UN STRING CON UN NUMERO ENTERO A numero.

    var numero;
    numero = parseInt("250");
    console.log(numero);

// CONVERTIR STRING A FLOAT

    parseFloat ();

    - permite CONVERTIR UN STRING CON UN NUMERO QUE PUEDE TENER DECIMALES A un numero.
    
    var numero;
    numero = parseFloat("1.619");
    console.log(numero);

// GET ELEMENT BY ID 

    - para permitir seleccionar un elemento con una ID determinada se usa: document.getElemntById("ID")

    var identifica= document.getElementById("identifica");
    console.log (identifica);

// OBTENER CODIGO interno

    - Se puede obtener el codigo del interior del elemento usando el elemento.innerHTML

        var identifica= document.getElementById("identifica");
        console.log (identifica.innerHTML);

    - innerHMTL PERMITE escribir en un elemento.

        var identifica= document.getElementById("identifica");
        identifica.innerHTML="texto CAMBIADO";
        console.log (identifica.innerHTML);

//27/05/2022

    // CONCATENACION DE TEXTO

    - Si se pasa el STRING entre ACENTOS ABIERTOS, se puede insertar variables entre medio con ${} 
        Y PARTIR EL STRING EN VARIAS LINEAS.

    <script>
        test="pruebas";
        alert(`texto para ${test}`);
    </script>

    //NUMEROS ALEATORIOS

    - el metodo Math.random() devuelve un numero aleatorio entre 0 y 1. podria devolver 
        exactamente 0 pero se garantiza que nunca llega al valor 1.

        var numAleatorio;
        numAleatorio = Math.random();
        console.log(numAleatorio);

// 30/05/2022

// OBJETOS JAVASCRIPT

    - Muchos de los elementos con los que trabaja javascript, son en realidad OBJETOS O PUEDEN SER TRATADOS COMO TALES.

    - La mayoria de ellos INTEGRAN METODOS QUE FACILITAN SU MANIPULACION y proceso.

    - para ejecutar estos metodos, SE USA LA NOTACION HABITUAL DE ACCESO A CONTENIDO DE UN OBJETO,

        siendo el OBJETO DE ORIGEN LA PROPIA VARIABLE.

    // METODOS PARA STRING

        - replaceAll(busca, reeemplaza) busca y reeemplaza todas las apariciones de una cadena.

            var string = "me encanta programar!";
            var string2;
            string2 = string.replaceAll("programar ", "javascript");
            console.log(string2);

        - length -> especifica la longitud de un string

            var string = "me encanta programar!";
            var longitud;
            longitud = string.length;
            console.log(longitud);

        - IndexOf -> devuelve la posicion de la PRIMERA OCURRENCIA DE UN STRING, dentro de otro string;
            un SEGUNDO PARAMETRO especifica la POSICION DE INICIO DE BUSQUEDA.

            var string = "Javascript es muy potente!";
            var pos;
            pos = string.indexOf("muy");
            console.log(pos);

        - slice -> extrae un string del interior de otro string. Acepta la posicion de inicio y final del string a extraer.

            var string = "Javascript es muy potente!";
            var substring;
            substring  = string.slice(17,24);
            console.log(substring);

        - trim -> elimina TODOS los espacios en blanco al principio y al final de un string(tabuladores y saltos de linea nada mas).

            var string = "me encanta programar!";
            var string2;
            string2 = string.trim();
            console.log(string2);

        - trimStart -> elimina TODOS los espacios en blanco al principio de un string(espacios en blanco tabuladores y saltos de linea nada mas).

            var string = "me encanta programar!";
            var string2;
            string2 = string.trimStart();
            console.log(string2);
            
            - trimEnd -> elimina TODOS los espacios en blanco al final de un string(espacios en blanco tabuladores y saltos de linea nada mas).

            var string = "  me encanta programar!  ";
            var string2;
            string2 = string.trimEnd();
            console.log(string2);

            - toUpperCase -> convierte un string a  MAYUSCULAS.
            - toLowerCase -> convierte un string a minusculas.

        // BOOLEAN

            - Un booleano tiene dos posibles valores: (TRUE  o FALSE)

        // OPERADORES COMPARATIVOS.

            X == y -> retorna true si X es igual que Y.
            X === Y -> retorna TRUE si X es igual que Y, y amabos son del MISMO TIPO.

        // OPERADORES LOGICOS.

            - Se usan para combinar sentencias condicionales.

            && - and - X && Y -> TRUE si los dos X y Y son true.
            || - or - X || Y -> TRUE si cualquiera de los dos X o Y son true
            !  - not - !X -> TRUE si X NO es true, FALSE si X no es false.
            
    // CONDICIONALES 

        - La sentencia IF ejecuta cierto codigo solo SI LA CONDICION ES TRUE.

            if (condicion) {
                cod. a ejecutar si la condicion es TRUe 
            }


    