// propiedad text-align : left,right, center, justify.

// tambien sirve para algun elemento que no sea de bloque o si no darle:
display:block, margin-auto.

// propiedad font-size: fija el tamaño de la fuente usada.

    el control del tamaño de la fuente en css es importante haber usado el tipo de elementro html adecuado
    al contexto : <h1>, <h2>,<p>, etc.

// font-weight: modifica el grosor de la fuente.
    p{font-wight:normal;}, o p{font-weight:bold}. 

    se puede controlar el grosor de la fuente, aunque no todas las fuentes permiten controlar la granuralidad.

// propiedad font-style: para cambiar la tipografia de la fuente: 
    font-style:normal; font-style:italic; font-style:bold. 

//altura de la linea: se especifica con la altura de linea de texto: line-height
        
// familias de fuentes:

GENERICAS: son las utilziadas universalemnte
  
// buscar fuentes que estan en cada sist operativo.

//@font-face -> permite cargar fuentes externas que se podran aplicar a cuaquier pagina desde font-family
    
    - las fuenets deben estar en formato TTF/OTF o WOFF
    - para poder usar diferentes grosores y estilos, desde las web se debe declarar cada uno de forma independiente.
    
    ej: @font-face{font-family: miFuente; src:url(fuente.ttf);}

    ** bajarlas de bytecluster.com/fuentes.zip 
    ** adobefonts.
    ** googlefonts
    https://www.dafontfree.io/
    https://visualcomposer.com/blog/free-fonts-for-commercial-use-to-download-in-2022/
    https://everythingfonts.com/ -> para convertir formatos entre fuentes.


// text decoration : quita subrayado para links o poner
    - underline -> texto subrayado. 
    - line-trough -> texto tachado.
    - none -> texto limpio.

// identacion de texto: indenta el texto linea a linea. 
    - text-indent: 50px;

// text trasnform: esta propiedad ocntrola las mayusuculas o minusculas del texto. 
    - text-transform:   lowercase; 
                        uppercase;

//letter spacing: permite controlar el espacio entre caracteres.
    - h1{letter-spacing: 4px}; h2{letter-spacing: 3px};

//word spacing: esta propiedd controla el espacio entre palabras.
    si, se quiere decrementar eñ espacio se usa valores NEGATIVOS.

// text-shadow: permite añadir sombra al texto, se especifica :
    - text-shadow: horizontal vertical desefonque color;
    - p{ text-shadow: 2px 2px 8px grey;}

//texto multicolumna: especifica el ancho ideal de cada columna, puede ser msa estrecho oa ncho del valor dado para adaptrase al espacio disponible.
    - p.cols{column-width:300px;}
    
// colum-counts: propiedad para distribuir texto en varias columnas 
    - p.cols{column-count:3;}

// para definir el espacio entre cada columna se define con column-gap:
    - p.cols{column-count:3; column-gap:40px;}

// column-rule: para insertar una linea entre las columnas.
    - p.cols{column-count:3;column-gap:40px;column-rule:1px solid lightgrey;}

// se puede usar combinacion compacta para combinar column-count y column-width, el orden en que se pase NO importa, tambien acepta un solo valor.
    - p.cols{columns:3 300px;}

// PROPIEDADES DE LAS TABLAS

    - Existen varias propiedades que permiten cambiar el aspecto de las tabals a traves de CSS.
        ej: table th,td {border:1px solid black;} -> solid /dotted /dashed /double

    - margin:auto -> sirve para centrar la tabla.
// Fusionar bordes

// tablas verticales:

    - para aplicar  estilo a una o varias columnas, se usan los elementos <col> y <colgroup>. 
    - colgroup debe posiiconarse antes del contenido de la tabla, entre caption y head.

