<div>

    

    
</div>
<script>

Console.log("Bienvenid@ al programa para gestión de alumnos");
Console.log("Introduzca las notas de los alumnos");

var notasDeAlumnos = new Array();

var keepdoing = true;

while(keepdoing)
{

}
</script>
