<style>
    #SpaceShipView
    {
        background-color: aqua;
        height: 800px;
    }

    .myGrid 
    {
        width: 100%;
        height: 100%;
        margin: 10;
    }
</style>





<div id="SpaceShipView" class="container-fluid">
    <div ui-grid="{ data: vm.SpaceShips }" class="myGrid"></div>



</div>