.topnav {
    overflow: hidden; 
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  .tittlePage {
    display:flex;  
    font-size:40px;
    color:white;   
    justify-content: center;
  }

  .cuerpo {
    background-image: url(../img/background.jpg);
    min-height: 380px;
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    position: absolute;
    margin: 20px;
    width: auto;
  }
  h1{
      text-align: center;
      color: royalblue;
      background-color: lightpink
  }
/*h2{
    width: 800px;
} */
  .textogaleria{

      /*display:flex;
      align-content: center;*/
      text-align: center;
      width:400px;
      background-color: green;
  }
  .textogaleria h2{
    
    *display:flex; 
   /* text-align: center; */
    align-content: center;
    background-color: magenta;
   
    
}

  .contimg{
    display:flex;
    flex-wrap:wrap      
  }
  .galeria{
    justify-content: center;
    margin:10px;
  }



