
html {
    background-color: #00539F;
  }
.headerGenerico            {
                    text-align: center;
                    background-color: gray;
                    color:honeydew;
                    
                }