<!--  CSS 
CASCADING STYLE SHEET

(selector)-> p {
    color:red;
} (declaración)


p{ color:green; }
h1{}

// La hoja de estilo se coloca en la cabecera(HEAD) del doc HTML5.
<head>
    <LINK REL="STYLESHEET" HREF="ESTILO.CSS">
</head>

// tambien se puede incrustar dentro en el archivo html

<head>
    <style>
        //1 elemento
        p { color:red;
        }
        h1{ color:green;
        }
        
        //mas de un elemento
        h1, h2 { color:red;
        }

        //si se usa div con espacio ,escoge todo lo que esta dentro del DIV

        // para los colores se puede usar:

            nombre de color valido :"red"
            valor hexadecimal :"#ff0000"
            escala RGB "rgb(255,0,0)"

        // los comentarios se inidican con : /* y para cerrar : */





    </style>


//SELECTORES

Selector de identificador : #saludo {color:red;}

selector de clase:
.mascotas{ color:green;
}

// Para camboar las dimensiones de un elemento se usa: width y height, se pueden usar pixeles o % y otros mas
//BACKGROUND-COLOR ->   Especifica el color de fondo de un elemento.

ej: se puede modificar el padding, height y width

div 
{
    width:100px;
    height:30%;
    background-color:lightblue;
}

// Para añadir separacion entre el borde del elemento y sus alrededorees se usa MARGIN 
// para añadir separacion entre el borde del elemento y su contenido se usa PADDING
// Para controlar el borde del elemento se usa BORDER-STYLE (solid, dotted etc )
// para cambiar el ancho al borde se usa : BORDER-WIDTH (border-width:4px) OJO: No se puede usar porcentaje.
// Para modificar el color del borde se usa: BORDER-COLOR (border-color:red)
// para cambiar las 3 propiedas al mismo tiempo es grososr, estilo  y color en una sola linea (ej: border: 2px dotted black;)

// el modelo de caja debe tenerse en cuenta que hay que tener en cvuenta 2 veces la dimension de cada una.

// para insertar una IMAGEN DE FONDO, se hace asi: y se puede comboinar con 
    body{
        background-image:url("http://foto.jpg");
    }
</head>


// para cambiar le TAMAÑO DE LA IMAGENB se puede utiliZAR BACKGROUND-SIZE



// con BACKGROIUNG-REPEAT, controla la reptecion de la imagen de fondo.
    body{
        background-repeat:no-repeat;
    }

    // para controlar donde se coloca la imagen dentro del div se usa BACKGROUND-POSITION. 
    el primer dato es el eje horizontal y el segundo es el eje vertical.
    body{
      background-image:url('imagen.jpg2');
      background-repeat:no-repeat;
        background-position: center center;
    background-position: left top;
    background-position: left bottom;
    background-position: center top;
    background-position: right, top;
    background-position: right, center; etc.

}

// TAMAÑO DE FUENTE:  En HTML5, se debe indicar que tipo de dato es y en CSS el diseño del mismo.
p{
    font-size:16px;
}

// la propiedad FONT-WEIGHT permite poner la fuente en negrita. algunas fuentes (no todas) permiten colocar el 
    grosor de la fuente en pixeles
p{
    font-weight:normal;
    font-weight:bold;
}

// para cambiar la fuente a cursiva se usa <font-style class=""></font-style>
p{
    font-style:italic;
    font-style:normal;
}

// para poner texto subrayado se usa TEXT-DECORATION, por defecto lo tiene underline
P{
    text-decoration: underline;
    text-decoration: none;
}

// para ALINEAR TEXTO: se usa el TEXT-ALIGN, pro defecto lo pone a la izquierda.
P{
    text-align: center;
    text-align: left;
    text-align: right;
    text-align: justify;
}

// para usar propiedas con LISTAS. se usa list-style-type
list-style-type: none; 
list-style-type: circle; etc.

//PARA FORZAR COMPORTAMIENTO. se pude modificar la forma en que se comporta un elemento
    display:block  y para convertirlo de block a inline se hace asi:
    display:inline


a{
    display:block,
    padding: 15px;
    text-decoration:none;

}

//TUNEAR TABLAS

para quitar el doble border y no aparecza doble se hace con collapse.

table{
    border-collapse:collapse,
}

table,th,td{
    border: 1px solid black;
}

// podemos alinear el texto horiz y verticalmente OJO que SOLO ES PARA casillas de las tablas.

td{
    height:50px;
    text-align:left;
    vertical-align:top;
    vertical-align:bottom;
    vertical-align:middle;

}


//   CAJAS FLEXIBLES

el flexbox permite ordenar los elementos dentro de un contenedor

al usar flexbox, el contenedor no cambia de lugar pero los elementos que hay en su interior se alinean en base a las reglas  de las cajas flexibles

 se tiene eje principal (horizontal) y eje secundario (vertical) y NO corresponde necesariamente al ancho y altura de la caja en si misma.

 el tamaño prinipal es el tamaño que tiene el eje horitontal
 el tamaño  sec es el tamaño que tiene el eje secundario.

 y aqui viene algo a tener cuidado que existe comando para girar la caja y en ese caso hay que tenerlo en cuenta.

 // comando para convertir un div en flexible
 div{
        display:flex;
 }

REGLAS DE CAJAS FLEXIBLES:
- por defecto flexbox coloca los elementos hijos, todo al inicio de los ejes ppal y secundario.
 tambien por defecto intenta ajustar la anchura de  los hijos a su contenido (eje prinncipal).
 al igual felxbox intenta expandir la altura de los hijos hasta alcanzar la altura del contenedor. 
 TODO ESTO SI NO ESTA FIJADA.

 ** modicando comportamiento del eje prinncipal (eje x)
 justify-content: flex-start; (por defecto)
    justify-content: center; -> centra el elemento horizontalmente dentro de la caja. ( si el elemento no tiene altura definidia
        lo estiraria hasta abajo del felx content)
    
    justify-content:end; -> lo justifica a la derecha de la caja.

 **   modificar el eje secudario:

 align-items, permite alinear los elementos en el eje secundario

 align-item:strech;
 align-items:flex-start;
 align-items:flex-center;
 align-items:flex-end;
 

// CONMUTACION DE EJES

intercambiar el eje ppal por el secundario e intercambiar el inicio por el final.

flex-direction:row, por defecto

flex-direction:row-reverse, cambia el inicio  por el final

flex-direction:column; empieza de arriba hacia abajo.

flex-direction:column-reverse; empieza de abajo hacia arriba.

//FLEXOX MULTIPLES LINEAS

con FLEX-WRAP permite que los elementos contenidos puedan saltar al siguiente
    llena cuando la SUMA de sus anchos no cabe en el ancho del contenedor

flex-wrap:nowrap, (por defecto)

flex-wrap:wrap, si la anchura del contenido es mayor que el ancho del contenedor , los elementos 
saltaran a la siguiente linea.

ej:

div{
    div{

    }
    div{

    }
}


-->
<!DOCTYPE html>
<html>
<head>
<style>
h1 {color:red;}
p {color:blue; }
div{background-color: aquamarine;}
.fuera{ color:brown;background-color: chartreuse; 
}

.par{background-color: cornflowerblue; margin: 10%;padding: 3%; border-style: outset; border-width:14px; border-color:red}

.impar{background-color: cyan; border-style: dotted;}

.caja01{ color:darkgreen ;background-color:white;
    border: 1px SOLID rgb(47, 24, 102);
    padding: 10px;
}
.caja02{ color:rgb(61, 9, 9);background-color: rgb(200, 184, 206); 
    border: 5px solid rgb(41, 143, 121);
    padding: 3px;
    
}


</style>
</head>
<body>
<div>
<h1>Este es un DIV sin clase</h1>
<p>este es un parrafo.</p>
</div>
<p class="fuera">parrafo fuera del div </p>
<div class="impar">
    <h1>Este es el DIV impar</h1>
    <p>este es un parrafo.</p>
    </div>
<div class ="par">
    <h1>Este es el DIV par</h1>
    <p>este es un parrafo.</p>
</div>

<div class ="caja01">
    <h1>Este es el DIV caja01.</h1>
    <p>este es un parrafo,de caja01.</p>
    <div class="caja02">
        <h1>Este es el DIV caja02.</h1>
        <p>este es un parrafo,de caja02.</p>
    
    </div>
</div>

</body>
</html>