
html {
    background-color: green;
  }
.headerGenerico            {
                    text-align: center;
                    background-color: gray;
                    color:honeydew;
                    
                }