<style>
    #StartView
    {
        height: 100vh;
        background-color:#bafdb4;
    }
</style>

<div id="MainView" >

    <start ng-if="!vm.IsLogon"></start>
    <home ng-if="vm.IsLogon"></home>
</div>