<style>
  /*  #Startview
    {
        height: 100vh;
        background-color: #bafdb4;
    } */
</style>

<link href="/Scripts/Views/Start/Start.css" rel="stylesheet">
<div id="StartView" class="vh-100 gradient-custom>

    <button class="btn btn-primary" ng-Click="vm.ShowLogin">Login</button>
    <button class="btn btn-primary" ng-Click="vm.ShowRegister">Register</button>

    <login ng-if="vm.IsLoginActive"></login>
    <register ng-if="!vm.IsLoginActive"></register>

</div>