.gradient-custom{
    /* para old browsers */
    background: #6a11cb;

    /* Chrome 10-25, Safari 5.1.6 */
    background: -webkit-linear-gradient(to right, rgba (106,17,203,1), rgba(37,117,252,1));

    /*w3c,IE 10+/ Edge, Firefox 16+,Chorme 26+, Opera 12+, Safari 7+*/ 
    background: -webkit-linear-gradient(to right, rgba (106,17,203,1), rgba(37,117,252,1));

}
